.myContainer {
    width: clamp(300px, 90vw, 2000px);
    margin: auto;
    margin-top: 5vh;
    position: relative;
    display: flex;
    min-height: 80dvh;

    color: #fff;
    background-color: #1f1f1f;
    border-radius: 10px;
    padding: 2em;

    .empty-text{
        text-align: center;
        font-size: clamp(20px, 3vw, 60px);
        align-self: center;
    }

    &>* {
        margin: 10px 0;
        width: 100%;
    }

    & &::after,
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        z-index: -1;
        border-radius: 10px;
        padding: 3px !important;
        box-sizing: content-box;
        background: linear-gradient(var(--angle), #4a91e2, #FF6B6B);
        animation: 10s linear infinite alternate spin;
    }

    &::before {
        filter: blur(10px);
    }
}