
body {
    background-color: #010204;
}

.hero {

    background-image: url(../assets/homeimg.jpeg);
    background-size: cover;
    background-position: top;
    z-index: -1;

    width: 100%;
    aspect-ratio: 16 / 8;
    .hero-overlay {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
}

.productContainer {
    margin: 5px;
}