.iconWrapper {
    display: flex;
    align-self: center;
    position: absolute;
    right: 0;
    transform: translateX(-50%);

    .closeIcon:hover {
        color: red;
        cursor: pointer;
        transition: color 0.3s ease;
    }
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 2rem;
    height: 2rem;
}

@property --angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}



.my-navbar {
    background-color: #1f1f1f;
    .navbar-brand {
        color: white;
        position: relative;

        .brand-icon {
            aspect-ratio: 5 / 4;
            width: 50px;
            
        }

        &:hover {
            color: rgba(255, 255, 255, 0.548) !important;
        }
    }

    .nav-link {
        color: white;

        &:hover {
            color: rgba(255, 255, 255, 0.548) !important;
        }
    }
    &::after, &::before {

        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        padding-bottom: 3px;
        z-index: -10;
        background: linear-gradient(90deg, #4a91e2, #FF6B6B);
        box-sizing: content-box;
    }

    &::before{
        filter: blur(5px);
    }
}


.search {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.searchInput {
    width: clamp(100px, 20vw, 400px);
    height: 40px;
    border-radius: 20px;
    background-color: #f0f0f0;
    border: none;
    text-align: center;
    outline: none;
    transition: border-color 0.3s ease;
}

.searchInput:focus {
    border-color: #FF6B6B;
    /* Focus effect */
}


.fixed {
    position: sticky !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    /* Ensure the navbar stays above other content */
    background-color: #1f1f1f
}