.cardContainer {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
  .card{
    margin: 0 10px;
    width: 15vw;
    transition: 300ms;

    .card-img {
        width: 100%;
        aspect-ratio: 16 / 16 ;
        object-fit: cover;
    }
   
    &:hover {
      transform: translateY(-10px);
    }
  }
  &::-webkit-scrollbar{
    width: 0;
  }
}
